# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/

# Manim output
media/
*.mp4
*.gif
*.mov
*.png
*.avi

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

